.orange-text {
	color: #ff993b;
}

.flash-text {
	color: rgb(211, 59, 46);
}

.logoImage {
	max-width: 300px;
}

header {
	margin-bottom: 60px;}

#heroText {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 4em;
	margin: 0;
	text-transform: uppercase;
	color: rgb(255, 0, 0);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: yellow;
	text-shadow: 2px 1px #292929;
}

#tableHeader {
	background-color: dimgrey;
	color: white;
	font-size: 1.5em;
}


.oddrow {
	background-color: rgb(211, 59, 46) ;
	color: yellow;
	
}

.evenrow {
	background-color: dimgrey;
	color: yellow;
}

.heroImage {
	max-width: 200px;
}

table{
	width: 90%;
	
}	

#demobox {
  background-color: rgb(240, 247, 240) ;
}